#####
# OS X temporary files that should never be committed
#
.DS_Store

#Trash files: Copied from stack overflow
.Trashes

*.swp

####
# Xcode temporary files that should never be committed
# 
# NB: NIB/XIB files still exist even on Storyboard projects, so we want this...
*~.nib

xcuserdata/
